<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>content</key>
				<string>网银支付</string>
				<key>image</key>
				<string>icon_yl</string>
				<key>paynumber</key>
				<dict>
					<key>支付1</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付2</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付3</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付4</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
				</dict>
				<key>sid</key>
				<string>21</string>
				<key>type</key>
				<string>5</string>
			</dict>
			<dict>
				<key>content</key>
				<string>银联扫码</string>
				<key>image</key>
				<string>icon_ysf</string>
				<key>paynumber</key>
				<dict>
					<key>支付1</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付2</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付教程</key>
					<array/>
				</dict>
				<key>sid</key>
				<string>27</string>
				<key>type</key>
				<string>10</string>
			</dict>
			<dict>
				<key>content</key>
				<string>微信支付</string>
				<key>image</key>
				<string>icon_wx</string>
				<key>paynumber</key>
				<dict>
					<key>支付1</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付2</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付3</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付4</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付5</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
				</dict>
				<key>sid</key>
				<string>23</string>
				<key>type</key>
				<string>7</string>
			</dict>
			<dict>
				<key>content</key>
				<string>支付宝支付</string>
				<key>image</key>
				<string>icon_zfb</string>
				<key>paynumber</key>
				<dict>
					<key>支付1</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付2</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付3</key>
					<array>
						<string>55</string>
						<string>105</string>
						<string>255</string>
						<string>505</string>
						<string>980</string>
						<string>1505</string>
						<string>2580</string>
						<string>3580</string>
						<string>4980</string>
						<string>5990</string>
						<string>7990</string>
						<string>9990</string>
					</array>
					<key>支付4</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付5</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付教程</key>
					<array/>
				</dict>
				<key>sid</key>
				<string>24</string>
				<key>type</key>
				<string>6</string>
			</dict>
			<dict>
				<key>content</key>
				<string>财付通支付</string>
				<key>image</key>
				<string>icon_cft</string>
				<key>paynumber</key>
				<dict>
					<key>支付1</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付2</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付3</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付4</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付5</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付教程</key>
					<array/>
				</dict>
				<key>sid</key>
				<string>25</string>
				<key>type</key>
				<string>8</string>
			</dict>
			<dict>
				<key>content</key>
				<string>京东支付</string>
				<key>image</key>
				<string>icon_dj</string>
				<key>paynumber</key>
				<dict>
					<key>支付1</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付2</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付教程</key>
					<array/>
				</dict>
				<key>sid</key>
				<string>26</string>
				<key>type</key>
				<string>12</string>
			</dict>
			<dict>
				<key>content</key>
				<string>扫码支付</string>
				<key>image</key>
				<string>icon_sm</string>
				<key>paynumber</key>
				<dict/>
				<key>sid</key>
				<string>22</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>银行汇款</string>
				<key>image</key>
				<string>icon_yhk</string>
				<key>paynumber</key>
				<dict/>
				<key>sid</key>
				<string>28</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>content</key>
				<string>快捷支付</string>
				<key>image</key>
				<string>icon_kj</string>
				<key>paynumber</key>
				<dict>
					<key>支付1</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付2</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付教程</key>
					<array/>
				</dict>
				<key>sid</key>
				<string>29</string>
				<key>type</key>
				<string>14</string>
			</dict>
			<dict>
				<key>content</key>
				<string>微信条码</string>
				<key>image</key>
				<string>icon_wxsm</string>
				<key>paynumber</key>
				<dict>
					<key>支付1</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付2</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付教程</key>
					<array/>
				</dict>
				<key>sid</key>
				<string>30</string>
				<key>type</key>
				<string>16</string>
			</dict>
			<dict>
				<key>content</key>
				<string>支付宝条码</string>
				<key>image</key>
				<string>icon_zfbsm</string>
				<key>paynumber</key>
				<dict>
					<key>支付1</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付2</key>
					<array>
						<string>100</string>
						<string>300</string>
						<string>500</string>
						<string>1000</string>
						<string>1500</string>
					</array>
					<key>支付教程</key>
					<array/>
				</dict>
				<key>sid</key>
				<string>31</string>
				<key>type</key>
				<string>18</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
