<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>logoicon</string>
		<key>title</key>
		<string>主账户</string>
		<key>BType</key>
		<string>WALLET</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ig</string>
		<key>title</key>
		<string>IG 彩票（新）</string>
		<key>BType</key>
		<string>IGPJ</string>
	</dict>
	<dict>
		<key>image</key>
		<string>xig</string>
		<key>title</key>
		<string>IG 彩票</string>
		<key>BType</key>
		<string>IG</string>
	</dict>
	<dict>
		<key>image</key>
		<string>vr</string>
		<key>title</key>
		<string>VR 彩票</string>
		<key>BType</key>
		<string>VR</string>
	</dict>
	<dict>
		<key>image</key>
		<string>cagayan</string>
		<key>title</key>
		<string>Cagayan88视讯</string>
		<key>BType</key>
		<string>CG</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ds</string>
		<key>title</key>
		<string>DS视讯</string>
		<key>BType</key>
		<string>DS</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ag</string>
		<key>title</key>
		<string>AGIN国际厅/YOPLAY/AG体育</string>
		<key>BType</key>
		<string>AGIN</string>
	</dict>
	<dict>
		<key>image</key>
		<string>sun</string>
		<key>title</key>
		<string>申博视讯(TGP)</string>
		<key>BType</key>
		<string>SB</string>
	</dict>
	<dict>
		<key>image</key>
		<string>og</string>
		<key>title</key>
		<string>OG视讯</string>
		<key>BType</key>
		<string>OG</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bbin</string>
		<key>title</key>
		<string>BBIN 视讯/电子</string>
		<key>BType</key>
		<string>BBIN</string>
	</dict>
	<dict>
		<key>image</key>
		<string>pt</string>
		<key>title</key>
		<string>PT电子</string>
		<key>BType</key>
		<string>PT</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mg</string>
		<key>title</key>
		<string>MG电子</string>
		<key>BType</key>
		<string>MG</string>
	</dict>
	<dict>
		<key>image</key>
		<string>haba</string>
		<key>title</key>
		<string>HABA电子</string>
		<key>BType</key>
		<string>HABA</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hg</string>
		<key>title</key>
		<string>皇冠体育</string>
		<key>BType</key>
		<string>HG</string>
	</dict>
	<dict>
		<key>image</key>
		<string>kyqp</string>
		<key>title</key>
		<string>开元棋牌</string>
		<key>BType</key>
		<string>KYQP</string>
	</dict>
	<dict>
		<key>image</key>
		<string>vg</string>
		<key>title</key>
		<string>VG棋牌</string>
		<key>BType</key>
		<string>VG</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ps</string>
		<key>title</key>
		<string>PS电子</string>
		<key>BType</key>
		<string>PS</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gy</string>
		<key>title</key>
		<string>GY彩票</string>
		<key>BType</key>
		<string>GY</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lyqp</string>
		<key>title</key>
		<string>乐游棋牌</string>
		<key>BType</key>
		<string>LYQP</string>
	</dict>
	<dict>
		<key>image</key>
		<string>jdb</string>
		<key>title</key>
		<string>JDB电子</string>
		<key>BType</key>
		<string>JDB</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bg_sun</string>
		<key>title</key>
		<string>BG视讯</string>
		<key>BType</key>
		<string>BG</string>
	</dict>
	<dict>
		<key>image</key>
		<string>sw</string>
		<key>title</key>
		<string>SW电子</string>
		<key>BType</key>
		<string>SW</string>
	</dict>
	<dict>
		<key>image</key>
		<string>abg</string>
		<key>title</key>
		<string>欧博视讯</string>
		<key>BType</key>
		<string>OB</string>
	</dict>
</array>
</plist>
