<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>中信银行</string>
	<string>中国银行</string>
	<string>中国农业银行</string>
	<string>中国建设银行</string>
	<string>中国工商银行（仅限工行手机签约客户）</string>
	<string>中国工商银行（全国范围）</string>
	<string>浙商银行</string>
	<string>浙江稠州商业银行</string>
	<string>招商银行</string>
	<string>邮政储蓄</string>
	<string>兴业银行</string>
	<string>顺德农村信用合作社</string>
	<string>深圳发展银行</string>
	<string>上海银行</string>
	<string>上海农村商业银行</string>
	<string>浦东发展银行</string>
	<string>平安银行</string>
	<string>南京银行</string>
	<string>民生银行</string>
	<string>交通银行</string>
	<string>华夏银行</string>
	<string>杭州银行</string>
	<string>广州市农村信用社|广州市商业银行</string>
	<string>广东发展银行</string>
	<string>光大银行</string>
	<string>东亚银行</string>
	<string>渤海银行</string>
	<string>北京银行</string>
	<string>北京农村商业银行</string>
</array>
</plist>
