<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bankcode</key>
		<string>ABC</string>
		<key>title</key>
		<string>中国农业银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>BOC</string>
		<key>title</key>
		<string>中国银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>BOCOM</string>
		<key>title</key>
		<string>交通银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>CCB</string>
		<key>title</key>
		<string>中国建设银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>ICBC</string>
		<key>title</key>
		<string>中国工商银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>PSBC</string>
		<key>title</key>
		<string>中国邮政储蓄银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>CMBC</string>
		<key>title</key>
		<string>招商银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>SPDB</string>
		<key>title</key>
		<string>浦发银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>CEBBANK</string>
		<key>title</key>
		<string>中国光大银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>ECITIC</string>
		<key>title</key>
		<string>中信银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>PINGAN</string>
		<key>title</key>
		<string>平安银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>CMBCS</string>
		<key>title</key>
		<string>中国民生银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>HXB</string>
		<key>title</key>
		<string>华夏银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>CGB</string>
		<key>title</key>
		<string>广发银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>BCCB</string>
		<key>title</key>
		<string>北京银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>BOS</string>
		<key>title</key>
		<string>上海银行</string>
	</dict>
	<dict>
		<key>bankcode</key>
		<string>CIB</string>
		<key>title</key>
		<string>兴业银行</string>
	</dict>
</array>
</plist>
