<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>为什么在线支付成功后额度没有立即增加？</string>
		<string>快捷支付存款未到账如何处理？</string>
		<string>提款什么时候可以到账？</string>
		<string>提款申请为什么会不通过？</string>
		<string>为什么向游戏转账会失败？</string>
		<string>你们的流水红利政策是怎么样的？</string>
		<string>有效流水在每个平台是如何计算的？</string>
		<string>隐私信息是否安全？</string>
		<string>我可以注册多个账号吗？</string>
		<string>请问各个游戏的注额为多少？</string>
	</array>
	<array>
		<string>开户条约</string>
		<string>如何注册？</string>
		<string>如何登录会员中心？</string>
		<string>登录时密码提示错误，我该怎么办？</string>
		<string>我可以注册多个账号吗？</string>
		<string>我想删除/注销我的账号可以吗？</string>
		<string>如何找回登录密码？</string>
	</array>
	<array>
		<string>有哪些存款途径？</string>
		<string>存款未到账如何处理？</string>
		<string>存款是否需要交纳手续费或其他费用？</string>
		<string>为什么在线支付成功后额度没有立即增加？</string>
	</array>
	<array>
		<string>提款流程</string>
		<string>提款限额是多少？</string>
		<string>提款什么时候可以到账？</string>
		<string>可否提款到其他人的银行卡？</string>
		<string>提款是否需要交纳手续费或其他费用？</string>
		<string>当我在真人游戏赢了钱，我该如何提款？</string>
		<string>可以取消提款申请吗？</string>
		<string>提款申请为什么会不通过？</string>
	</array>
	<array>
		<string>什么是转账？</string>
		<string>为什么游戏前要先进行转账？</string>
		<string>游戏和游戏之间可以互相转账吗？</string>
		<string>为什么向游戏转账会失败？</string>
		<string>转账流程</string>
	</array>
	<array>
		<string>我进行游戏有安全保障吗？</string>
		<string>隐私保护规则</string>
		<string>投注规则与规定</string>
		<string>博彩责任</string>
		<string>规则与条款</string>
		<string>用户隐私协议</string>
	</array>
	<array>
		<string>如何绑定银行卡？</string>
		<string>所有类型的银行卡都可以绑定吗？</string>
		<string>我可以绑定多张银行卡吗？</string>
		<string>如何更换已绑定的银行卡？</string>
		<string>为什么我要设置真实姓名？</string>
		<string>真实姓名填错了怎么修改？</string>
		<string>我的真实姓名会被泄漏吗？</string>
	</array>
	<array>
		<string>为何我的账号会被冻结？</string>
		<string>为什么我会被登出？</string>
		<string>为什么我浏览的页面不能正常显示？</string>
		<string>为什么要进行验证？</string>
		<string>我可以只试玩而不下注吗？</string>
		<string>别人可以用我的账户进行交易吗？</string>
		<string>最基本的注单查询方式？</string>
		<string>请问各个游戏的注额为多少？</string>
		<string>如何证明游戏结果是实时的？</string>
		<string>你们的流水红利政策是怎么样的？</string>
		<string>有效流水在每个平台是如何计算的？</string>
	</array>
</array>
</plist>
