<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<dict>
				<key>platformName</key>
				<string>急速时时彩</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>48</string>
				<key>image</key>
				<string>jscq</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>一分时时彩</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>50</string>
				<key>image</key>
				<string>jscq60</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>重庆时时彩</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>1</string>
				<key>image</key>
				<string>ssc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>新疆时时彩</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>6</string>
				<key>image</key>
				<string>xjsc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>云南时时彩</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>8</string>
				<key>image</key>
				<string>ynsc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>上海时时彩</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>9</string>
				<key>image</key>
				<string>shsc</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速11选5</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>52</string>
				<key>image</key>
				<string>gd115_90</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>江西11选5</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>18</string>
				<key>image</key>
				<string>bj115</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>山东11选5</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>19</string>
				<key>image</key>
				<string>sh115</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>北京11选5</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>20</string>
				<key>image</key>
				<string>bj115</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>上海11选5</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>21</string>
				<key>image</key>
				<string>sh115</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>辽宁11选5</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>22</string>
				<key>image</key>
				<string>ln115</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>湖北11选5</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>23</string>
				<key>image</key>
				<string>hb115</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>江苏11选5</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>24</string>
				<key>image</key>
				<string>js115</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>安徽11选5</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>25</string>
				<key>image</key>
				<string>ah115</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>广东11选5</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>17</string>
				<key>image</key>
				<string>ah115</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速快乐十分</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>51</string>
				<key>image</key>
				<string>klc_90</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>天津快乐十分</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>10</string>
				<key>image</key>
				<string>tjkc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>湖南快乐十分</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>12</string>
				<key>image</key>
				<string>hnkc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>广西快乐十分</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>11</string>
				<key>image</key>
				<string>gxkc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>云南快乐十分</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>37</string>
				<key>image</key>
				<string>ynkc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>幸运农场</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>4</string>
				<key>image</key>
				<string>xyc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>广东快乐十分</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>0</string>
				<key>image</key>
				<string>klc</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速快乐8</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>54</string>
				<key>image</key>
				<string>bjkl8_90</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>加拿大快乐8</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>29</string>
				<key>image</key>
				<string>jndkl8</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>斯洛伐克</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>31</string>
				<key>image</key>
				<string>slfkkl8</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>台湾宾果</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>33</string>
				<key>image</key>
				<string>twbgkl8</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>北京快乐8</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>26</string>
				<key>image</key>
				<string>bjkl8</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速快3</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>53</string>
				<key>image</key>
				<string>jsc_90</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>江苏骰宝</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>3</string>
				<key>image</key>
				<string>jsc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>安徽快3</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>13</string>
				<key>image</key>
				<string>ahk3</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>广西快3</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>14</string>
				<key>image</key>
				<string>gxk3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速赛车</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>47</string>
				<key>image</key>
				<string>jssc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>一分赛车</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>49</string>
				<key>image</key>
				<string>jssc60</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>北京赛车</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>2</string>
				<key>image</key>
				<string>bjc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>幸运飞艇</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>16</string>
				<key>image</key>
				<string>xyft</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速3D</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>55</string>
				<key>image</key>
				<string>fc3d_90</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>福彩3D</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>35</string>
				<key>image</key>
				<string>fc3d</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>排列3D</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>36</string>
				<key>image</key>
				<string>tc3d</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速蛋蛋</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>56</string>
				<key>image</key>
				<string>bjkl8pc_90</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>斯洛伐克蛋蛋</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>43</string>
				<key>image</key>
				<string>slfkkl8pc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>马耳他</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>44</string>
				<key>image</key>
				<string>slfkkl8pc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>台湾</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>45</string>
				<key>image</key>
				<string>metkl8pc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>北京蛋蛋</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string>38</string>
				<key>image</key>
				<string>bjkl8pc</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>六合彩</string>
				<key>gameType</key>
				<string>IGPJ</string>
				<key>gameID</key>
				<string></string>
				<key>image</key>
				<string>lhc</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>platformName</key>
				<string>急速时时彩</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>48</string>
				<key>image</key>
				<string>j-js</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>一分时时彩</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>50</string>
				<key>image</key>
				<string>j-yfssc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>重庆时时彩</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>1</string>
				<key>image</key>
				<string>j-cp</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>新疆时时彩</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>6</string>
				<key>image</key>
				<string>j-xj</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>云南时时彩</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>8</string>
				<key>image</key>
				<string>j-ynssc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>上海时时彩</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>9</string>
				<key>image</key>
				<string>j-shs</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速11选5</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>52</string>
				<key>image</key>
				<string>j-jisu11x5</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>江西11选5</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>18</string>
				<key>image</key>
				<string>j-jx</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>山东11选5</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>19</string>
				<key>image</key>
				<string>j-sd</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>北京11选5</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>20</string>
				<key>image</key>
				<string>j-bj</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>上海11选5</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>21</string>
				<key>image</key>
				<string>j-shs</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>辽宁11选5</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>22</string>
				<key>image</key>
				<string>j-ln</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>湖北11选5</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>23</string>
				<key>image</key>
				<string>j-hb</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>江苏11选5</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>24</string>
				<key>image</key>
				<string>j-jss</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>安徽11选5</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>25</string>
				<key>image</key>
				<string>j-ahh</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>广东11选5</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>17</string>
				<key>image</key>
				<string>j-gd</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速快乐十分</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>51</string>
				<key>image</key>
				<string>j-jskl10</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>天津快乐十分</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>10</string>
				<key>image</key>
				<string>j-tjkl10</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>湖南快乐十分</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>12</string>
				<key>image</key>
				<string>j-hnkl10</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>广西快乐十分</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>11</string>
				<key>image</key>
				<string>j-gxkl10</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>云南快乐十分</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>37</string>
				<key>image</key>
				<string>j-ynkl10</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>幸运农场</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>4</string>
				<key>image</key>
				<string>xyc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>广东快乐十分</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>0</string>
				<key>image</key>
				<string>j-gdkl10</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速快乐8</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>54</string>
				<key>image</key>
				<string>j-jskl8</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>加拿大快乐8</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>29</string>
				<key>image</key>
				<string>j-janada</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>斯洛伐克</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>31</string>
				<key>image</key>
				<string>j-cq_c9111</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>台湾宾果</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>33</string>
				<key>image</key>
				<string>j-twbg</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>北京快乐8</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>26</string>
				<key>image</key>
				<string>j-bjk8</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速快3</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>53</string>
				<key>image</key>
				<string>j-sd-</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>江苏骰宝</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>3</string>
				<key>image</key>
				<string>j-jssb</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>安徽快3</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>13</string>
				<key>image</key>
				<string>j-ahk3</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>广西快3</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>14</string>
				<key>image</key>
				<string>j-gxk3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速赛车</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>47</string>
				<key>image</key>
				<string>j-jssc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>一分赛车</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>49</string>
				<key>image</key>
				<string>j-yfsc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>北京赛车</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>2</string>
				<key>image</key>
				<string>j-bjpk</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>幸运飞艇</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>16</string>
				<key>image</key>
				<string>j-xyft</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速3D</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>55</string>
				<key>image</key>
				<string>j-js3d</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>福彩3D</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>35</string>
				<key>image</key>
				<string>j-sd-</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>排列3D</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>36</string>
				<key>image</key>
				<string>j-pl3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>极速蛋蛋</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>56</string>
				<key>image</key>
				<string>j-jspcdd</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>斯洛伐克蛋蛋</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>43</string>
				<key>image</key>
				<string>j-slfkpcdd</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>马耳他</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>44</string>
				<key>image</key>
				<string>j-metpcdd</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>台湾</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>45</string>
				<key>image</key>
				<string>j-twbgpcdd</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>北京蛋蛋</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string>38</string>
				<key>image</key>
				<string>j-bjpcdd</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>六合彩</string>
				<key>gameType</key>
				<string>IG</string>
				<key>gameID</key>
				<string></string>
				<key>image</key>
				<string>j-lhc</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>platformName</key>
				<string>VR金星1.5...</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>1</string>
				<key>image</key>
				<string>officail_vrjx2</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>VR3分彩</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>11</string>
				<key>image</key>
				<string>officail_sfc2</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>VR快艇</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>13</string>
				<key>image</key>
				<string>officail_ft2</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>VR百家乐</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>15</string>
				<key>image</key>
				<string>officail_vrbjl2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>新疆时时彩</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>4</string>
				<key>image</key>
				<string>xjsc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>天津时时彩</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>5</string>
				<key>image</key>
				<string>tjsc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>广东11选5</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>6</string>
				<key>image</key>
				<string>gd115</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>江西11选5</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>7</string>
				<key>image</key>
				<string>jx115</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>江苏快三</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>9</string>
				<key>image</key>
				<string>jsk3</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>幸运28</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>10</string>
				<key>image</key>
				<string>xyc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>香港六合彩</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>14</string>
				<key>image</key>
				<string>lhc</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>山东11选5</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>19</string>
				<key>image</key>
				<string>vrsdsyxw</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>水星分分彩</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>34</string>
				<key>image</key>
				<string>vrsx</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>木星赛车</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>35</string>
				<key>image</key>
				<string>vrmx</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>platformName</key>
				<string>赛马</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>36</string>
				<key>image</key>
				<string>vrsm</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>游泳</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>37</string>
				<key>image</key>
				<string>vryy</string>
			</dict>
			<dict>
				<key>platformName</key>
				<string>自行车</string>
				<key>gameType</key>
				<string>VR</string>
				<key>gameID</key>
				<string>38</string>
				<key>image</key>
				<string>vrzxc</string>
			</dict>
		</array>
	</array>
</array>
</plist>
