<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>platformName</key>
			<string>德州扑克</string>
			<key>gameType</key>
			<string>KYQP</string>
			<key>gameID</key>
			<string>620</string>
			<key>fromName</key>
			<string>开元棋牌</string>
			<key>title</key>
			<string>德州扑克</string>
			<key>image</key>
			<string>chess_dzpk</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>二八杠</string>
			<key>gameType</key>
			<string>KYQP</string>
			<key>gameID</key>
			<string>720</string>
			<key>fromName</key>
			<string>开元棋牌</string>
			<key>title</key>
			<string>二八杠</string>
			<key>image</key>
			<string>chess_ebg</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>抢庄牛牛</string>
			<key>gameType</key>
			<string>KYQP</string>
			<key>gameID</key>
			<string>830</string>
			<key>fromName</key>
			<string>开元棋牌</string>
			<key>title</key>
			<string>抢庄牛牛</string>
			<key>image</key>
			<string>chess_qznn</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>炸金花</string>
			<key>gameType</key>
			<string>KYQP</string>
			<key>gameID</key>
			<string>220</string>
			<key>fromName</key>
			<string>天下网络棋牌</string>
			<key>title</key>
			<string>炸金花</string>
			<key>image</key>
			<string>chess_zjh</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>三公</string>
			<key>gameType</key>
			<string>KYQP</string>
			<key>gameID</key>
			<string>860</string>
			<key>fromName</key>
			<string>开元棋牌</string>
			<key>title</key>
			<string>三公</string>
			<key>image</key>
			<string>chess_sg</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>押庄龙虎</string>
			<key>gameType</key>
			<string>KYQP</string>
			<key>gameID</key>
			<string>900</string>
			<key>fromName</key>
			<string>开元棋牌</string>
			<key>title</key>
			<string>押庄龙虎</string>
			<key>image</key>
			<string>chess_yzlh</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>21点</string>
			<key>gameType</key>
			<string>KYQP</string>
			<key>gameID</key>
			<string>600</string>
			<key>fromName</key>
			<string>开元棋牌</string>
			<key>title</key>
			<string>21点</string>
			<key>image</key>
			<string>chess_esyd</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>通比牛牛</string>
			<key>gameType</key>
			<string>KYQP</string>
			<key>gameID</key>
			<string>870</string>
			<key>fromName</key>
			<string>开元棋牌</string>
			<key>title</key>
			<string>通比牛牛</string>
			<key>image</key>
			<string>chess_tbnn</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>platformName</key>
			<string>VG大厅</string>
			<key>gameType</key>
			<string>VG</string>
			<key>gameID</key>
			<string>1000</string>
			<key>fromName</key>
			<string>VG棋牌</string>
			<key>title</key>
			<string>VG大厅</string>
			<key>image</key>
			<string>vg_dt</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>斗地主</string>
			<key>gameType</key>
			<string>VG</string>
			<key>gameID</key>
			<string>1</string>
			<key>fromName</key>
			<string>VG棋牌</string>
			<key>title</key>
			<string>斗地主</string>
			<key>image</key>
			<string>vg_ddz</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>抢庄牛牛</string>
			<key>gameType</key>
			<string>VG</string>
			<key>gameID</key>
			<string>3</string>
			<key>fromName</key>
			<string>VG棋牌</string>
			<key>title</key>
			<string>抢庄牛牛</string>
			<key>image</key>
			<string>vg_qznn</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>百人牛牛</string>
			<key>gameType</key>
			<string>VG</string>
			<key>gameID</key>
			<string>4</string>
			<key>fromName</key>
			<string>VG棋牌</string>
			<key>title</key>
			<string>百人牛牛</string>
			<key>image</key>
			<string>vg_brnn</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>platformName</key>
			<string>大厅</string>
			<key>gameType</key>
			<string>LYQP</string>
			<key>gameID</key>
			<string>0</string>
			<key>fromName</key>
			<string>乐游棋牌</string>
			<key>title</key>
			<string>大厅</string>
			<key>image</key>
			<string>ly_dt</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>德州扑克</string>
			<key>gameType</key>
			<string>LYQP</string>
			<key>gameID</key>
			<string>620</string>
			<key>fromName</key>
			<string>乐游棋牌</string>
			<key>title</key>
			<string>德州扑克</string>
			<key>image</key>
			<string>ly_dzpk</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>二八杠</string>
			<key>gameType</key>
			<string>LYQP</string>
			<key>gameID</key>
			<string>720</string>
			<key>fromName</key>
			<string>乐游棋牌</string>
			<key>title</key>
			<string>二八杠</string>
			<key>image</key>
			<string>ly_ebg</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>抢庄牛牛</string>
			<key>gameType</key>
			<string>LYQP</string>
			<key>gameID</key>
			<string>830</string>
			<key>fromName</key>
			<string>乐游棋牌</string>
			<key>title</key>
			<string>抢庄牛牛</string>
			<key>image</key>
			<string>ly_qznn</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>炸金花</string>
			<key>gameType</key>
			<string>LYQP</string>
			<key>gameID</key>
			<string>220</string>
			<key>fromName</key>
			<string>乐游棋牌</string>
			<key>title</key>
			<string>炸金花</string>
			<key>image</key>
			<string>ly_zjh</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>三公</string>
			<key>gameType</key>
			<string>LYQP</string>
			<key>gameID</key>
			<string>860</string>
			<key>fromName</key>
			<string>乐游棋牌</string>
			<key>title</key>
			<string>三公</string>
			<key>image</key>
			<string>ly_sg</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>押庄龙虎</string>
			<key>gameType</key>
			<string>LYQP</string>
			<key>gameID</key>
			<string>900</string>
			<key>fromName</key>
			<string>乐游棋牌</string>
			<key>title</key>
			<string>押庄龙虎</string>
			<key>image</key>
			<string>ly_yzlh</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>通比牛牛</string>
			<key>gameType</key>
			<string>LYQP</string>
			<key>gameID</key>
			<string>870</string>
			<key>fromName</key>
			<string>乐游棋牌</string>
			<key>title</key>
			<string>通比牛牛</string>
			<key>image</key>
			<string>ly_tbnn</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>极速炸金花</string>
			<key>gameType</key>
			<string>LYQP</string>
			<key>gameID</key>
			<string>230</string>
			<key>fromName</key>
			<string>乐游棋牌</string>
			<key>title</key>
			<string>极速炸金花</string>
			<key>image</key>
			<string>ly_jszjh</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string>斗地主</string>
			<key>gameType</key>
			<string>LYQP</string>
			<key>gameID</key>
			<string>610</string>
			<key>fromName</key>
			<string>乐游棋牌</string>
			<key>title</key>
			<string>斗地主</string>
			<key>image</key>
			<string>ly_ddz</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>platformName</key>
			<string></string>
			<key>gameType</key>
			<string></string>
			<key>gameID</key>
			<string></string>
			<key>fromName</key>
			<string></string>
			<key>title</key>
			<string>开元棋牌</string>
			<key>image</key>
			<string>ky_dt</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string></string>
			<key>gameType</key>
			<string></string>
			<key>gameID</key>
			<string></string>
			<key>fromName</key>
			<string></string>
			<key>title</key>
			<string>VG棋牌</string>
			<key>image</key>
			<string>vg_dt</string>
		</dict>
		<dict>
			<key>platformName</key>
			<string></string>
			<key>gameType</key>
			<string></string>
			<key>gameID</key>
			<string></string>
			<key>fromName</key>
			<string></string>
			<key>title</key>
			<string>乐游棋牌</string>
			<key>image</key>
			<string>qp_ly</string>
		</dict>
	</array>
</array>
</plist>
