<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bankCode</key>
		<string></string>
		<key>bankName</key>
		<string>选择银行种类</string>
		<key>code</key>
		<string></string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>1</string>
		<key>bankName</key>
		<string>中国农业银行</string>
		<key>code</key>
		<string>ABC</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>2</string>
		<key>bankName</key>
		<string>中国银行</string>
		<key>code</key>
		<string>BOC</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>3</string>
		<key>bankName</key>
		<string>交通银行</string>
		<key>code</key>
		<string>BOCOM</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>4</string>
		<key>bankName</key>
		<string>中国建设银行</string>
		<key>code</key>
		<string>CCB</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>5</string>
		<key>bankName</key>
		<string>中国工商银行</string>
		<key>code</key>
		<string>ICBC</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>6</string>
		<key>bankName</key>
		<string>中国邮政储蓄银行</string>
		<key>code</key>
		<string>PSBC</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>7</string>
		<key>bankName</key>
		<string>招商银行</string>
		<key>code</key>
		<string>CMBC</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>8</string>
		<key>bankName</key>
		<string>浦发银行</string>
		<key>code</key>
		<string>SPDB</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>9</string>
		<key>bankName</key>
		<string>中国光大银行</string>
		<key>code</key>
		<string>CEBBANK</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>10</string>
		<key>bankName</key>
		<string>中信银行</string>
		<key>code</key>
		<string>ECITIC</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>11</string>
		<key>bankName</key>
		<string>平安银行</string>
		<key>code</key>
		<string>PINGAN</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>12</string>
		<key>bankName</key>
		<string>中国民生银行</string>
		<key>code</key>
		<string>CMBCS</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>13</string>
		<key>bankName</key>
		<string>华夏银行</string>
		<key>code</key>
		<string>HXB</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>14</string>
		<key>bankName</key>
		<string>广发银行</string>
		<key>code</key>
		<string>CGB</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>15</string>
		<key>bankName</key>
		<string>北京银行</string>
		<key>code</key>
		<string>BCCB</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>16</string>
		<key>bankName</key>
		<string>上海银行</string>
		<key>code</key>
		<string>BOS</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>17</string>
		<key>bankName</key>
		<string>兴业银行</string>
		<key>code</key>
		<string>CIB</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>99</string>
		<key>bankName</key>
		<string>其它银行</string>
		<key>code</key>
		<string></string>
	</dict>
</array>
</plist>
